Register
%br/
%br/
%form{:method => "post"}
  Email:
  %input{:type=>'text', :size=>20, :name=>'user[email]'}
  %br/
  Password:
  %input{:type=>'text', :size=>20, :name=>'user[password]'}
  %br/
  Password Confirmation:
  %input{:type=>'text', :size=>20, :name=>'user[password_confirmation]'}
  %br/
  %input{:type=>'submit', :value=>'Register'}
