Reset Password
%br/
%br/
%form{ :method => "post", :action => '/reset_password' }
  Password:
  %input{ :type => 'text', :size => 20, :name => 'password' }
  %br/
  Confirm Password:
  %input{ :type => 'text', :size => 20, :name => 'password_confirmation' }
  %br/
  %input{ :type => 'hidden', :value => @user.perishable_token, :name => 'token' }
  %input{ :type => 'submit', :value => 'Reset' } 
